<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <meta charset="UTF-8">

    <title>Sources</title>
</head>
<body>

<div id="wrapper" class="">

      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a href="{% url 'main:diagramme' %}">Diagramme<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a href="{% url 'main:fiche' %}">Fiche<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a href="{% url 'main:sources' %}">Sources/Outils<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>


<article>
    <div class="container">
        <div class="row">
            <div class ="col-sm-1"></div>
            <div class ="col-sm-10">
                <br />
                <br />
                <h1><b>A remplir</b></h1>

                </div>
        </div>
    </div>
</article>



</div>

</body>
</html>
<script>
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});


</script>