<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <link rel="icon" href="{% static 'img/icon.png' %}">

    <meta charset="UTF-8">

    <title>Diagramme</title>
</head>
<body>

<div id="wrapper" class="">

      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a href="{% url 'main:diagramme' %}">Diagramme<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a href="{% url 'main:fiche' %}">Fiche<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a href="{% url 'main:sources' %}">Sources/Outils<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>


<article>
    <div class="container">
        <div class="row">
            <div class ="col-sm-1"></div>
            <div class ="col-sm-10"></div>
                <br />
                <br />
                <h1 class="text-center"><b>Diagramme de Venn</b></h1>
                <br />
                <img id="myImg" src="{% static 'img/vulgarisation_diagramme.jpg' %}" alt="Trolltunga, Norway" width="960" height="720">

                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <img class="modal-content" id="img01">
                </div>
        </div>
    </div>
</article>
</div>


</body>


</html>
<script>
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});

// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    modalImg.alt = this.alt;
    captionText.innerHTML = this.alt;
}


// When the user clicks on <span> (x), close the modal
modal.onclick = function() {
    img01.className += " out";
    setTimeout(function() {
       modal.style.display = "none";
       img01.className = "modal-content";
     }, 400);

 }

</script>