<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <link rel="icon" href="{% static 'img/icon.png' %}">

    <meta charset="UTF-8">

    <title>Sources</title>
</head>
<body>

<div id="wrapper" class="">

      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a href="{% url 'main:diagramme' %}">Diagramme<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a href="{% url 'main:fiche' %}">Fiche<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a href="{% url 'main:sources' %}">Sources/Outils<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>


<article>
    <div class="container">
        <div class="row">
            <div class ="col-sm-1"></div>
            <div class ="col-sm-10">
                <br />
                <br />
                <h1><b>Sources</b></h1>

                <p><a href="https://www.kokoroe.fr/list/competences-humaines/article/outils-de-communication-les-tops-et-les-pieges-1197">https://www.kokoroe.fr/list/competences-humaines/article/outils-de-communication-les-tops-et-les-pieges-1197</a></p>

                <p><a href="https://www.mt180.ch/accueil/">https://www.mt180.ch/accueil/</a></p>

                <p><a href="https://books.openedition.org/pum/7692?lang=fr">https://books.openedition.org/pum/7692?lang=fr</a></p>

                <p>Nicolas Beck, En finir avec les idées reçues sur la vulgarisation scientifique, Versailles, Quae, 2017, 171 p</p>
                <p>Daniel Jacobi, La communication scientifique : discours, figures, modèles, Grenoble France, Presses universitaires de Grenoble, coll. « Communication, médias et sociétés », 1999, 277 p</p>
                <p>Pascal Lapointe, Guide de vulgarisation : au-delà de la découverte scientifique : la sociéte, Québec, Éditions MultiMondes, coll. « Au-delà de la découverte scientifique », 2008, 319 p</p>
                <p>Cécile Michaut, Vulgarisation scientifique, mode d'emploi, EDPSciences, 2014, 160 p</p>
                <p>Dominique Wolton, De la vulgarisation à la communication, CNRS Editions, « Hermès, La Revue », 1997/1, n°21, pp. 9-14</p>

                <h1><b>Outils</b></h1>

                <h3><b>Outils pour les présentations Power Point :</b></h3>

                <p><a href="https://prezi.com">https://prezi.com</a>: outil qui a l’avantage d’être adapté à des applications comme Teams, Zoom, etc.</p>

                <p><a href="https://canva.com">https://canva.com</a>: utile également pour la création de poster, flyers, infographies ou graphiques.</p>

                <p><a href="https://www.haikudeck.com/">https://www.haikudeck.com/</a>: outil qui a l’avantage de proposer une base de données de plusieurs millions d’images libres de droit.</p>

                <p><a href="https://piktochart.com">https://piktochart.com</a>: infographies, posters ou flyersc.</p>

                <h3><b>Outils pour la création de graphiques/tableaux :</b></h3>

                <p><a href="https://www.datawrapper.de/">https://www.datawrapper.de/</a>: outil qui offre la possibilité de créer des graphiques, des cartes et des tableaux.</p>

                <p><a href="https://graphiste.com/blog/outils-gratuits-creer-graphiques">https://graphiste.com/blog/outils-gratuits-creer-graphiques</a>: outil qui offre la possibilité d’importer ses propres données.</p>

                <p><a href="https://public.tableau.com/en-us/s/">https://public.tableau.com/en-us/s/</a>: application téléchargeable et gratuite.</p>

                <p><a href="https://canva.com">https://piktochart.com</a>: outil qui offre la possibilité de créer des graphiques, des cartes et des tableaux</p>


                <h3><b>D’autres outils utiles :</b></h3>

                <p>Banque d’images libres de droit :</p>
                <p><a href="https://pixabay.com/">https://pixabay.com/</a></p>
                <p><a href="https://unsplash.com/">https://unsplash.com/</a></p>
                <p><a href="https://fotomelia.com/">https://fotomelia.com/</a></p>


                <h3><b>Outils pour créer des nuages de mots :</b></h3>

                <p><a href="https://nuagedemots.co/">https://pixabay.com/</a></p>
                <p><a href="https://wordart.com/create">https://wordart.com/create</a></p>

                <br />
                <br />
            </div>
        </div>
    </div>
</article>



</div>

</body>
</html>
<script>
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});


</script>